.search__switch {
  display: block;
  width: 36px;
  height: 20px;
  transition: opacity 0.2s;
}

.search__input {
  display: none;
}

.search__slider {
  display: flex;
  align-items: center;
  width: 36px;
  height: 20px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #424242;
  transition: background-color 0.3s;
}

.search__slider:before {
  display: block;
  margin-left: 4px;
  content: "";
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 50%;
  transition: 0.2s;
}

.search__input:checked + .search__slider {
  background-color: #3ddc84;
}

.search__input:checked + .search__slider:hover {
  background-color: #4285f4;
}

.search__input + .search__slider:hover {
  background-color: #8b8b8b;
}

.search__input:focus + .search__slider {
  box-shadow: 0 0 1px #3ddc84;
}

.search__input:checked + .search__slider:before {
  transform: translateX(13px);
}
