.cards {
  box-sizing: border-box;
  padding: 80px 70px 39px;
}

.cards__list {
  display: grid;
  justify-content: space-between;
  gap: 30px 24px;
  grid-template-columns: repeat(auto-fill, minmax(364px, 1fr));
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more__btn {
  display: flex;
  margin: 80px auto;
  width: 320px;
  height: 36px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  border: 1px solid #424242;
  border-radius: 5px;
  background-color: inherit;
  cursor: pointer;
  transition: background-color 0.2s;
}

.more__btn:hover {
  background-color: #313131;
}

/* 768 */
@media (max-width: 1279px) {
  .cards {
    padding: 50px 30px 40px;
  }

  .cards__list {
    gap: 36px 30px;
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
  }
}

/* 320 */
@media (max-width: 575px) {
  .cards {
    padding: 50px 10px 42px;
  }

  .cards__list {
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .more__btn {
    margin: 77px auto;
    width: 240px;
  }
}
