.search {
  box-sizing: border-box;
  padding: 70px 70px 0;
}

.search__border {
  box-sizing: border-box;
  padding-bottom: 69px;
  border-bottom: 1px solid #424242;
  position: relative;
}

.search__container {
  display: flex;
  background-color: #2f2f2f;
  border-radius: 9px;
  align-items: center;
  padding: 16px 30px;
  gap: 45px 30px;
}

.search__container:focus-within {
  outline: 2px solid #424242;
}

.search__container_error:focus-within {
  outline: 2px solid #ee3465;
}

.search__error {
  position: absolute;
  top: 46px;
  left: 63px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #ee3465;
  margin: 0 0 5px;
  visibility: hidden;
}

.search__error_visible {
  visibility: visible;
}

.search__wrap {
  display: flex;
  align-items: center;
}

.search__wrap_input {
  flex: 1 1 auto;
}

.search__wrap_checkbox {
  flex: 0 0 auto;
}

.search__text {
  width: 100%;
  flex: 1 1 auto;
  background-color: #2f2f2f;
  background-image: url("../../images/search.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 0 0 0 33px;
  border: none;
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.search__text:focus-visible {
  outline: 0;
}

.search__find {
  flex: 0 0 auto;
  cursor: pointer;
  width: 34px;
  height: 34px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: #4285f4;
  background-image: url("../../images/find.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7px;
  transition: background-color 0.3s, outline 0.1s;
}

.search__find:hover {
  background-color: #3ddc84;
}

.search__find:active {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search__separator {
  width: 1px;
  height: 40px;
  background-color: #424242;
  margin: 0 0 0 30px;
}

.search__short {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding: 0 0 0 14px;
}

/* 768 */
@media (max-width: 1279px) {
  .search {
    padding: 80px 30px 30px;
  }

  .search__container {
    display: flex;
    background-color: #2f2f2f;
    border-radius: 9px;
    align-items: center;
    padding: 16px 20px 16px 30px;
    column-gap: 20px;
  }

  .search__separator {
    margin-left: 19px;
  }

  .search__border {
    padding-bottom: 109px;
  }

  .search__error {
    top: 50px;
    left: 30px;
  }
}

/* 320 */
@media (max-width: 575px) {
  .search {
    padding: 80px 10px 0;
  }

  .search__border {
    padding-bottom: 45px;
  }

  .search__container {
    flex-direction: column;
    align-items: stretch;
    background-color: inherit;
    padding: 0;
  }

  .search__container:focus-within {
    outline: none;
  }

  .search__wrap_input {
    padding: 19px;
    background-color: #2f2f2f;
    border-radius: 9px;
  }

  .search__wrap_input:focus-within {
    outline: 2px solid #424242;
  }

  .search__wrap_error:focus-within {
    outline: 2px solid #ee3465;
  }

  .search__wrap_checkbox {
    justify-content: center;
    align-items: center;
  }

  .search__text {
    background-image: none;
    padding: 0;
    font-size: 14px;
  }

  .search__separator {
    display: none;
  }

  .search__short {
    font-size: 11px;
    line-height: 18px;
    padding-left: 13px;
  }

  .search__error {
    left: 19px;
    top: 45px;
    font-size: 14px;
    line-height: 1.1;
  }
}
