.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__header {
  margin: 74px 0 106px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  width: 410px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile__form:focus-within .profile__row {
  border-color: transparent;
}

.profile__row {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #424242;
  position: relative;
}

.profile__row:focus-within {
  outline: 1px solid #424242;
  border-radius: 10px;
}

.profile__row:last-child {
  padding-bottom: none;
  border-bottom: none;
}

.profile__key {
  flex: 1 0 auto;
}

.profile__value {
  width: 100%;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  background-color: inherit;
  color: #fff;
  border: none;
}

.profile__value_error {
  color: #ee3465;
}

.profile__value:focus-visible {
  outline: 0;
}

.profile__error {
  position: absolute;
  top: 50px;
  left: 3px;
  display: block;
  font-size: 10px;
  line-height: 12px;
  color: #3ddc84;
  margin: 0 0 5px;
  visibility: hidden;
  transition: all 0.2s;
}

.profile__error_visible {
  visibility: visible;
}

.profile__buttons {
  margin-top: 203px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  transition: color 0.2s;
}

.profile__button_edit {
  color: #fff;
}

.profile__button_edit:hover {
  color: #3ddc84;
}

.profile__button_exit {
  color: #ee3465;
  font-weight: 500;
}

.profile__button_exit:hover {
  color: #7b7b7b;
}

/* 768 */
@media (max-width: 1279px) {
  .profile__header {
    margin: 236px 0 96px;
  }

  .profile__buttons {
    margin-top: 210px;
  }
}

/* 320 */
@media (max-width: 575px) {
  .body__container_profile {
    height: calc(100vh - 74px);
  }
  .profile {
    min-height: 100%;
  }
  .profile__header {
    margin: 80px 0 70px;
  }

  .profile__form {
    width: 260px;
  }

  .profile__buttons {
    margin: 0;
    margin-bottom: 40px;
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  .profile__error_name {
    top: -30px;
  }
}
