.promo__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #272727;
  margin: 20px 40px 0;
  border-radius: 10px;
}

.promo__title {
  margin: 160px 235px 150px;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

@media (max-width: 768px) {
  .promo__title {
    margin: 350px 24px 314px;
    font-size: calc( (100vw - 425px)/(768 - 425) * (40 - 29) + 29px);
  }
}

@media (max-width: 425px) {
  .promo__container {
    margin: 14px 14px 0;
    border-radius: 10px;
  }

  .promo__title {
    margin: 220px 2px 210px;
    font-size: 29px;
  }
}
