.techs {
  background-color: #272727;
}
.techs__container {
  padding: 100px 70px;
}

.techs__description {
  margin: 90px auto 100px;
  max-width: 600px;
  text-align: center;
}

.techs__subtitle {
  margin: 0 0 26px;
  font-size: 50px;
  letter-spacing: -0.04em;
}

.techs__text {
  max-width: 460px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
}

.techs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.04em;
  gap: 10px;
}

.techs__item {
  width: 90px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-weight: 400;
  background-color: #303030;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.1s, font-weight 0.2s;
}

.techs__item:hover {
  background-color: #3ddc84;
  color: #000;
  font-weight: 500;
}

@media (max-width: 769px) {
  .techs__container {
    padding: 90px 50px;
  }

  .techs__description {
    margin: 79px auto 83px;
    max-width: 460px;
  }

  .techs__subtitle {
    margin-bottom: 20px;
  }

  .techs__list {
    flex-wrap: wrap;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
  }

  .techs__item {
    width: 84px;
    height: 57px;
    line-height: 57px;
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .techs {
    background-color: #202020;
  }
  .techs__container {
    padding: 71px 18px;
  }

  .techs__description {
    margin: 60px auto 50px;
  }

  .techs__subtitle {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
  }

  .techs__list {
    margin: 0 auto;
    max-width: 178px;
  }

  .techs__item:last-child {
    margin-right: auto;
  }
}
