.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #3ddc84;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.logo:hover {
  background-color: #4285f4;
}

.logo_selected {
  opacity: 1;
}

.logo__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50%;
}

.logo__arc {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #3ddc84;
  clip-path: inset(50% 0 0 0);
  transition: background-color 0.2s;
}

.logo__arc:hover {
  border: 2px solid #4285f4;
}
