.footer {
  padding: 20px 70px;
  display: flex;
  flex-direction: column;
  color: #8b8b8b;
  font-size: 13px;
}

.footer__text {
  margin: 20px auto ;
}

.footer__copy {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #424242;
  color: #fff;
}

.footer__date {
  margin: 20px 0;
  color: #8b8b8b;
}

.footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.footer__link {
  text-decoration: none;
  color: inherit;
}

/* 768 */
@media (max-width: 1279px) {
  .footer {
    padding: 20px 30px;
  }
}

/* 320 */
@media (max-width: 575px) {
  .footer {
    padding: 20px 10px;
    font-size: 12px;
  }

  .footer__text {
    margin: 21px auto ;
  }

  .footer__copy {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 31px 0;
  }

  .footer__date {
    margin: 0;
  }
}
