.dialog {
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: none;
  color: #fff;
}

.dialog_movie {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
}

.dialog__wrapper {
  position: fixed;
  right: 20px;
  bottom: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: fit-content;
}

.dialog__wrapper_movie {
  box-sizing: border-box;
  right: calc(50vw - 283px / 2);
  bottom: calc(50vh - 222px / 2);
  width: 283px;
  height: 222px;
  background-color: #222;
  border-color: #313131;
  display: flex;
  flex-direction: column;
}

.dialog__head {
  color: #ee3465;
  text-align: center;
}

.dialog__text {
  margin-block-start: 0;
  text-align: center;
}

.dialog__form {
  text-align: center;
}

.dialog__form_movie {
  margin: auto 0;
}

.dialog__button {
  cursor: pointer;
  background: none;
  border: 1px solid;
  border-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  font-family: "Inter", sans-serif;
  transition: color 0.2s, border-color 0.2s;
}

.dialog__button_movie {
  background-color: #313131;
}

.dialog__button:hover {
  color: #3ddc84;
  border-color: #3ddc84;
}

@media (max-width: 575px) {
  .dialog__wrapper {
    right: calc(50% - 212px / 2);
    bottom: 100px;
  }

  .dialog__wrapper_movie {
    right: calc(50vw - 300px / 2);
    bottom: calc(50vh - 222px / 2);
  }
}
